<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html";charset="UTF-8" >
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
    <style type="text/css">
        td{
            border: 1px solid gray;
        }
    </style>
    <title>Title</title>
</head>
<body>
    <div id="app">
        <table id="heroListTable">
            <tr>
                <td>name</td>
                <td>hp</td>
                <td>操作</td>
            </tr>

            <tr v-for="hero in hs">
                <td>{{hero.name}}</td>
                <td>{{hero.hp}}</td>
                <td>
                    <a :href="'editHero?id='+hero.id">编辑</a>
                    <a href="" @click="deleteHero(hero.id)">删除</a>

                </td>
            </tr>
        </table>
    </div>

</body>
</html>